@media print, (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .content_flex .content
    {
        width: 100%;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        width: 100%;
        margin-bottom: 20px;
    }



    aside .cats .title
    {
        min-height: 50px;

        pointer-events: auto;
    }

    aside .cats .list
    {
        display: none;
    }

    aside .cats .list > * > a
    {
        min-height: 50px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .big
    {
        font-size: 16px;
        line-height: 26px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .order_btn
    {
        font-size: 16px;

        width: 225px;
        min-width: 225px;
        height: 42px;
        margin-left: 20px;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 30px;
    }
}
